html
    head
        link(rel="stylesheet", href="styles.css")

    body
        h1 NOTES TEST PROJECT

        block links
            span
                a(href="/") Home
            span
                a(href="/users") Users
            span
                a(href="/file") File Storage

        block content
            div
            img(src="notes.jpeg")

        block footer
            hr
            |Created by: oleg
